
.newspetletter-container {
  max-width: 850px;      /* tamanho dos elementos */
  margin: 100px auto 40px auto; /* margin-top compensando header fixo */
  padding: 0 24px;
  font-family: 'Archivo', sans-serif;
  text-align: center;
}

.newspetletter-container h1 {
  font-size: 36px;
  margin-bottom: 16px;
  color: #ffffff;
}

.newspetletter-container p {
  font-size: 17px;
  color: #ffffff;
}
