html, body {
  background-color: #04105d !important;
  color: white;
  height: 100%;
}

.card-custom {
  background-color: #576e8e;
  border-radius: 25px;
  height: 300px;
  width: 270px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.card-custom:hover {
  background-color: #435575; /* tom mais escuro/forte */
}


.group-img {
  width: 400px;
  height: 410px;
  margin: 50px 0;
}

.logo-img {
  max-width: 350px;  /* controla o tamanho máximo da imagem */
  width: 100%;       /* faz a imagem escalar dentro do container */
  height: auto;      /* mantém proporção */
  margin-top: 80px;
}
