

.footer {
  background-color: #242222;
  color: #fff;
  padding: 35px 20px;         /* Define comprimento do footer, e define afastamento do conteúdo*/
  font-family: 'Archivo', sans-serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-bottom: 40px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  opacity: 0.85;
}

.footer-section a {
  display: block;
  margin: 5px 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.508);
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.app-buttons img {
  width: 135px;
  margin: 5px 10px 0 0;
}

.footer-bottom {
  border-top: 1px solid rgba(122, 96, 96, 0.14);
  padding-top: 20px;
  text-align: center;
  opacity: 0.85;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-brand img {
  max-width: 200px;
  height: auto;
  margin: 20px 0;
}

.footer-cnpj {
  font-size: 14px;
  color: #fff;
  opacity: 0.85;
}
